<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Landpagy - Landing Page Template</title>
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css"/>
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <!-- SwiperJs CSS -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css"/>
    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css"/>
    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css"/>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css"/>
</head>
<body>
<!-- Header Area -->
<header class="header-area">
    <nav class="navbar navbar-expand-lg menu_one sticky-nav">
        <div class="container-fluid">
            <a class="navbar-brand header_logo" href="index.html">
                <img class="first_logo sticky_logo" src="assets/images/logo.png" alt="logo">
                <img class="white_logo main_logo" src="assets/images/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu_toggle">
                <span class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <span class="hamburger-cross">
                    <span></span>
                    <span></span>
                </span>
            </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav menu ml-auto">
                <li class="nav-item dropdown submenu active">
                    <a href="index.html" class="nav-link dropdown-toggle">Home</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="features.html" class="nav-link dropdown-toggle">Features</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="about.html" class="nav-link dropdown-toggle">About</a>                    
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="pricing.html" class="nav-link dropdown-toggle">Pricing</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="help-center.html" class="nav-link dropdown-toggle">Help Center</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link dropdown-toggle">Contact</a>                            
                </li>
            </ul>            
            </div>
        </div>
    </nav>
</header>
<!-- Header Area -->
<main>
    <!-- Banner Area -->
    <section class="banner-area about-banner">
        <div class="container">
            <div class="row align-items-center flex-column-reverse flex-lg-row">
                <div class="col-lg-7 mt-8 mt-lg-0">
                    <div class="section-title-left">
                        <h2>Building the best project management software in the world.</h2>
                        <p>We're here every step of the way making sure you and your team deliver. We're here every step
                            of the way
                            making sure you and your team deliver</p>
                    </div>
                </div>
                <div class="col-lg-6 d-lg-none">
                    <div class="banner-image">
                        <img src="assets/images/features/features-4.png" alt="Illustrator Image">
                        <img src="assets/images/features/features-object-6.svg" alt="Features Object" class="features-object6">
                        <img src="assets/images/features/features-object-7.svg" alt="Features Object" class="features-object7">
                        <img src="assets/images/features/features-object-8.svg" alt="Features Object" class="features-object8">
                        <img src="assets/images/features/features-object-9.svg" alt="Features Object" class="features-object9">
                        <span class="shape13"></span>
                        <span class="shape14"></span>
                    </div>
                </div>
            </div>
            <div class="banner-right-two banner-image d-none d-lg-block">
                <img src="assets/images/features/features-4.png" alt="Illustrator Image">
                <img src="assets/images/features/features-object-6.svg" alt="Features Object" class="features-object6">
                <img src="assets/images/features/features-object-7.svg" alt="Features Object" class="features-object7">
                <img src="assets/images/features/features-object-8.svg" alt="Features Object" class="features-object8">
                <img src="assets/images/features/features-object-9.svg" alt="Features Object" class="features-object9">
                <span class="shape13"></span>
                <span class="shape14"></span>
            </div>
        </div>
        <!-- <img class="banner-shape-2" src="assets/images/shape/bg-shape-2.png" alt="Pricing Banner Shape"> -->
    </section>
    <!-- Banner Area -->

    <!-- Counter Area -->
    <section class="counter-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 mt-8 mt-lg-0">
                    <div class="counter-item">
                        <span class="text-red font-semi-bold">Launched in April</span>
                        <h2 class="counter">2009</h2>
                        <span class="text-black">remote from day one</span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-8 mt-lg-0">
                    <div class="counter-item">
                        <span class="font-poppins font-semi-bold text-red">Our product powers</span>
                        <div class="counter-number">
                            <h2 class="counter">32005</h2>
                            <span>+</span>
                        </div>
                        <span class="text-black">customer-facing teams</span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-8 mt-lg-0">
                    <div class="counter-item">
                        <span class="font-poppins font-semi-bold text-red">We serve customers in</span>
                        <div class="counter-number">
                            <h2 class="counter">3000</h2>
                            <span>+</span>
                        </div>
                        <span class="text-black">Company</span>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-8 mt-lg-0">
                    <div class="counter-item">
                        <span class="font-poppins font-semi-bold text-red">Trusted By</span>
                        <div class="counter-number">
                            <h2 class="counter">3000</h2>
                            <span>+</span>
                        </div>
                        <span class="text-black">Company</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Counter Area -->

    <!-- Our Story Area -->
    <section class="our-story-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="mt-n4">Our Story</h2>
                </div>
                <div class="col-lg-6">
                    <div class="our-story">
                        <p>A at enim quam a etiam. Lacus elementum platea nunc urna nulla molestie rhoncus. Euismod in
                            risus elit lacus, laoreet volutpat neque. Lacus feugiat iaculis sit adipiscing tellus. Dis quam
                            faucibus odio duis sit integer pellentesque auctor. Nisl eget lacinia suspendisse vitae ornare nec diam
                            nec.</p>
                        <p>Fermentum, gravida quis amet sit aliquam sed pharetra. Proin viverra risus, adipiscing
                            blandit sagittis dictum vel, morbi. Iaculis vitae tellus non viverra vestibulum. A at enim quam a etiam.
                            Lacus elementum platea nunc urna nulla molestie rhoncus. Euismod in risus elit lacus, laoreet volutpat
                            neque. Lacus feugiat iaculis sit adipiscing tellus. Dis quam faucibus odio duis sit integer pellentesque
                            auctor. Nisl eget lacinia suspendisse vitae ornare nec diam nec.</p>
                        <p>Fermentum, gravida quis amet sit aliquam sed pharetra. Proin viverra risus, adipiscing
                            blandit sagittis dictum vel, morbi. Iaculis vitae tellus non viverra vestibulum. </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="story-timeline">
                        <div class="story-info-meta">
                            <h5>Our first customer</h5>
                            <span>Jun 2016.</span>
                        </div>
                        <p>Proin viverra risus, adipiscing blandit sagittis dictum vel, morbi. Iaculis vitae tellus non viverra vestibulum.  </p>
                    </div>
                    <div class="story-timeline">
                        <div class="story-info-meta">
                            <h5>Our first customer</h5>
                            <span>Jun 2016.</span>
                        </div>
                        <p>Proin viverra risus, adipiscing blandit sagittis dictum vel, morbi. Iaculis vitae tellus non viverra vestibulum.  </p>
                    </div>
                    <div class="story-timeline">
                        <div class="story-info-meta">
                            <h5>Our first customer</h5>
                            <span>Jun 2016.</span>
                        </div>
                        <p>Proin viverra risus, adipiscing blandit sagittis dictum vel, morbi. Iaculis vitae tellus non viverra vestibulum.  </p>
                    </div>
                    <div class="story-timeline">
                        <div class="story-info-meta">
                            <h5>Our first customer</h5>
                            <span>Jun 2016.</span>
                        </div>
                        <p>Proin viverra risus, adipiscing blandit sagittis dictum vel, morbi. Iaculis vitae tellus non viverra vestibulum.  </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Story Area -->

    <!-- Testimonial Area -->
    <section class="testimonial-area testimonial-area-two testimonial-area-three section-padding">
        <div class="container">
            <div id="testimonial-3" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testimonial-review">
                            <i class="fas fa-quote-left"></i>
                            <p>Continually harness functional e-business without global core competencies. Interactively
                                pontificate
                                client-focused web-readiness via quality scenarios. Professionally pursue collaborative
                                <span>ideas rather than prospective imperatives.</span>
                            </p>
                            <div class="testimonial-author">
                                <div class="testimonial-author-image">
                                    <img src="assets/images/testimonial/testimonial-1.jpg" alt="Testimonial">
                                </div>
                                <div class="testimonial-author-name">
                                    <h4>Jesus Requena</h4>
                                    <span>Support Engineer, Aliexpress</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-review">
                            <i class="fas fa-quote-left"></i>
                            <p>Continually harness functional e-business without global core competencies. Interactively
                                pontificate
                                client-focused web-readiness via quality scenarios. Professionally pursue collaborative
                                <span>ideas rather than prospective imperatives.</span>
                            </p>
                            <div class="testimonial-author">
                                <div class="testimonial-author-image">
                                    <img src="assets/images/testimonial/testimonial-1.jpg" alt="Testimonial">
                                </div>
                                <div class="testimonial-author-name">
                                    <h4>Jesus Requena</h4>
                                    <span>Support Engineer, Aliexpress</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonial-review">
                            <i class="fas fa-quote-left"></i>
                            <p>Continually harness functional e-business without global core competencies. Interactively
                                pontificate
                                client-focused web-readiness via quality scenarios. Professionally pursue collaborative
                                <span>ideas rather than prospective imperatives.</span>
                            </p>
                            <div class="testimonial-author">
                                <div class="testimonial-author-image">
                                    <img src="assets/images/testimonial/testimonial-1.jpg" alt="Testimonial">
                                </div>
                                <div class="testimonial-author-name">
                                    <h4>Jesus Requena</h4>
                                    <span>Support Engineer, Aliexpress</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Area -->

    <!-- Service Area -->
    <section class="service-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="mt-n3 mt-md-n4">Our Value</h2>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="service-item">
                        <img class="service-icon" src="assets/images/icon/icon-4.svg" alt="Service Icon">
                        <h4>For Profit</h4>
                        <p class="font-small">We're here every step of the way making sure you and your team deliver</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="service-item">
                        <img class="service-icon" src="assets/images/icon/icon-5.svg" alt="Service Icon">
                        <h4>For Purpose</h4>
                        <p class="font-small">We're here every step of the way making sure you and your team deliver</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="service-item">
                        <img class="service-icon" src="assets/images/icon/icon-6.svg" alt="Service Icon">
                        <h4>Diverse Team</h4>
                        <p class="font-small">We're here every step of the way making sure you and your team deliver</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="service-item">
                        <img class="service-icon" src="assets/images/icon/icon-7.svg" alt="Service Icon">
                        <h4>Better Everything</h4>
                        <p class="font-small">We're here every step of the way making sure you and your team deliver</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Service Area -->

    <!-- Team Area -->
    <section class="team-area bg-white-800 section-padding-xl">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="mt-n4">Meet Our Team</h2>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="team-item text-center">
                        <img class="team-image" src="assets/images/team/team.png" alt="Team">
                        <h4>Cooper Dias</h4>
                        <p class="font-small">Marketing Designer DURHAM, NC</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-8 mt-sm-0">
                    <div class="team-item text-center">
                        <img class="team-image" src="assets/images/team/team-2.png" alt="Team">
                        <h4>Jaylon Franci</h4>
                        <p class="font-small">Marketing Designer DURHAM, NC</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-8 mt-lg-0">
                    <div class="team-item text-center">
                        <img class="team-image" src="assets/images/team/team-3.png" alt="Team">
                        <h4>Kadin Baptista</h4>
                        <p class="font-small">Marketing Designer DURHAM, NC</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-8 mt-lg-0">
                    <div class="team-item text-center">
                        <img class="team-image" src="assets/images/team/team-4.png" alt="Team">
                        <h4>Ruben Press</h4>
                        <p class="font-small">Marketing Designer DURHAM, NC</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Area -->

    <!-- Client Area -->
    <section class="client-area client-area-two">
        <div class="container">
            <div class="client-wrapper">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title-center">
                            <h2 class="font-bold mt-n3 mt-md-n4">Our Clients</h2>
                        </div>
                        <div class="client-text">
                            <h4 class="mt-n3"><span>3000+ Companies</span> Trust Sturtaplanding to build
                                landing page for their <span>dream product</span></h4>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-1.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-2.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-3.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-4.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-5.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-1.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-2.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-3.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-4.png" alt="Brand Image">
                        </div>
                    </div>
                    <div class="w-50 w-md-20">
                        <div class="client-image">
                            <img src="assets/images/brand/brand-5.png" alt="Brand Image">
                        </div>
                    </div>
                </div>
                <div class="client-meta">
                    <ul class="client-review-icon">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                    </ul>
                    <div class="client-review-number">
                        <span>4.9</span> Stars
                    </div>
                    <div class="client-review">
                        <span>5121+</span> Reviews
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Client Area -->

    <!-- CTA Area -->
    <section class="cta-area section-padding-xl bg-red-150 wow animate__animated animate__fadeInUp animate__fast">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center pb-8">
                        <h2 class="mt-n3 mt-md-n4">Get free for 14 Days</h2>
                        <p>
                            Aenean amet netus aliquam elit eu, sagittis id natoque id.
                            Purus augue fermentum dui aliquam dui vel.
                        </p>
                    </div>
                    <form class="form-group mx-auto mt-0">
                        <input type="email" placeholder="Enter your email to book demo" />
                        <button type="submit" class="btn btn-red">Book A Demo</button>
                    </form>
                </div>
            </div>
        </div>
        <span class="shape7"></span>
        <img class="shape8 d-none d-lg-block" src="assets/images/shape/shape-8.svg" alt="Shape">
    </section>
    <!-- CTA Area -->
</main>

<!-- Footer Area -->
<footer class="footer-area bg-black">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-content">
                <span
                >The Most Trusted Online Course Platform for WordPress.</span
                >
                        <img src="assets/images/logo-3.png" alt="Footer Logo"/>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row justify-content-between">
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-menu">
                                <h4>Features</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-menu">
                                <h4>Company</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-menu">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <ul>
                        <li><img src="assets/images/Logo-2.png" alt="Logo Image"/></li>
                        <li><span>Copyright 2021, All Rights Reserved</span></li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="footer-bottom-menu">
                        <ul>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Legal Notice</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <ul class="social-link-bg">
                        <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <span class="footer-shape"></span>
</footer>
<!-- Footer Area -->

<!--Scroll to top-->
<a href="#" class="scrollToTop">
  <img src="assets/images/scroll.svg" alt="">
</a>

<script src="assets/js/plugin/jquery-3.5.0.min.js"></script>
<script src="assets/js/plugin/wow.min.js"></script>
<script src="assets/js/plugin/jquery.nice-select.min.js"></script>
<script src="assets/js/plugin/popper.min.js"></script>
<script src="assets/js/plugin/bootstrap.min.js"></script>
<script src="assets/js/plugin/jquery.fancybox.min.js"></script>
<script src="assets/js/plugin/swiper-bundle.min.js"></script>
<script src="assets/js/plugin/jquery.waypoints.min.js"></script>
<script src="assets/js/plugin/jquery.counterup.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>
