<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Landpagy - Landing Page Template</title>
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css"/>
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <!-- SwiperJs CSS -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css"/>
    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css"/>
    <!-- Scale CSS -->
    <link rel="stylesheet" href="assets/css/scale.css"/>
    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css"/>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css"/>
</head>
<body>
<!-- Header Area -->
<header class="header-area">
    <nav class="navbar navbar-expand-lg menu_one sticky-nav">
        <div class="container-fluid">
            <a class="navbar-brand header_logo" href="index.html">
                <img class="first_logo sticky_logo" src="assets/images/logo.png" alt="logo">
                <img class="white_logo main_logo" src="assets/images/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu_toggle">
                <span class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <span class="hamburger-cross">
                    <span></span>
                    <span></span>
                </span>
            </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav menu ml-auto">
                <li class="nav-item dropdown submenu active">
                    <a href="index.html" class="nav-link dropdown-toggle">Home</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="features.html" class="nav-link dropdown-toggle">Features</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="about.html" class="nav-link dropdown-toggle">About</a>                    
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="pricing.html" class="nav-link dropdown-toggle">Pricing</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="help-center.html" class="nav-link dropdown-toggle">Help Center</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link dropdown-toggle">Contact</a>                            
                </li>
            </ul>            
            </div>
        </div>
    </nav>
</header>

<!-- Header Area -->
<main>
    <!-- Banner Area -->
    <section class="banner-area contact-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="font-bold mt-n3"> Feel free to contact us or just say hi!</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- <img class="banner-shape-2" src="assets/images/shape/bg-shape-2.png" alt="Pricing Banner Shape"> -->
        <img class="shape13" src="assets/images/shape/shape13.svg" alt="Shape">
        <img class="shape14" src="assets/images/shape/shape14.svg" alt="Shape">
        <img class="shape15" src="assets/images/shape/shape15.svg" alt="Shape">
        <img class="shape16" src="assets/images/shape/pricing-shape7.svg" alt="Shape">
        <img class="pricing-shape-11" src="assets/images/features/features-object-6.svg" alt="Pricing Banner Shape">
    </section>
    <!-- Banner Area -->

    <!-- Contact Area -->
    <section class="contact-area section-padding-xl">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="contact-info">
                        <img src="assets/images/icon/icon-9.svg" alt="">
                        <h4>102 street 1234 Don</h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="contact-info">
                       <img src="assets/images/icon/icon-10.svg" alt="">
                        <h4><a href="tel:+0123-4567 89">+0123-4567 89</a></h4>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="contact-info">
                        <img src="assets/images/icon/icon-11.svg" alt="">
                        <h4><a href="mailto:landpagy@email.com">landpagy@email.com</a></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="contact-form">
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="contact-form-select">
                                        <label for="topic">Topic</label>
                                        <select id="topic" class="select-topic">
                                            <option data-display="Please select a topic">Please select a topic</option>
                                            <option value="1">select a topic</option>
                                        </select>
                                    </div>
                                    <div class="contact-form-name">
                                        <label for="name" class="mt-4">Your Name</label>
                                        <input type="text" id="name" placeholder="Damo User|">
                                    </div>
                                    <div class="contact-form-email">
                                        <label for="email">Email</label>
                                        <input type="text" id="email" placeholder="Enter your email to book demo">
                                    </div>
                                    <div class="contact-form-name">
                                        <label for="phone">Phone</label>
                                        <input type="text" id="phone" placeholder="+01">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="contact-form-message">
                                        <label for="textarea">Message</label>
                                        <textarea id="textarea" placeholder="Type your message...."></textarea>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="contact-form-button">
                                        <a href="#" class="btn btn-red">Book A Demo</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Area -->

    <!-- Contact Area -->
    <section class="map-area section-padding-xl bg-white-800">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="map">
                        <div class="map-image">
                            <img src="assets/images/map.svg" alt="">
                        </div>
                        <div class="map-marking-item">
                            <div class="map-marking-point">
                                <div id="map" data-placement="top" class="tippy-box map-address" style="display: none;">
                                    <div class="tippy-content d-flex align-items-center">
                                        <div class="flag">
                                            <img src="assets/images/flag.png" alt="">
                                        </div>
                                        <div class="address-info">
                                            <h6>United States</h6>
                                            <span>102 street 1234 Don</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="marking-point"></div>
                            </div>
                        </div>
                        <div class="map-marking-item">
                            <div class="map-marking-point">
                                <div id="map" data-placement="top" class="tippy-box map-address" style="display: none;">
                                    <div class="tippy-content d-flex align-items-center">
                                        <div class="flag">
                                            <img src="assets/images/flag.png" alt="">
                                        </div>
                                        <div class="address-info">
                                            <h6>United States</h6>
                                            <span>102 street 1234 Don</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="marking-point"></div>
                            </div>
                        </div>
                        <div class="map-marking-item">
                            <div class="map-marking-point">
                                <div id="map" data-placement="top" class="tippy-box map-address" style="display: none;">
                                    <div class="tippy-content d-flex align-items-center">
                                        <div class="flag">
                                            <img src="assets/images/flag.png" alt="">
                                        </div>
                                        <div class="address-info">
                                            <h6>United States</h6>
                                            <span>102 street 1234 Don</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="marking-point"></div>
                            </div>
                        </div>
                        <div class="map-marking-item">
                            <div class="map-marking-point">
                                <div id="map" data-placement="top" class="tippy-box map-address" style="display: none;">
                                    <div class="tippy-content d-flex align-items-center">
                                        <div class="flag">
                                            <img src="assets/images/flag.png" alt="">
                                        </div>
                                        <div class="address-info">
                                            <h6>United States</h6>
                                            <span>102 street 1234 Don</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="marking-point"></div>
                            </div>
                        </div>
                        <div class="map-marking-item">
                            <div class="map-marking-point">
                                <div id="map" data-placement="top" class="tippy-box map-address" style="display: none;">
                                    <div class="tippy-content d-flex align-items-center">
                                        <div class="flag">
                                            <img src="assets/images/flag.png" alt="">
                                        </div>
                                        <div class="address-info">
                                            <h6>United States</h6>
                                            <span>102 street 1234 Don</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="marking-point"></div>
                            </div>
                        </div>
                        <div class="map-marking-item">
                            <div class="map-marking-point">
                                <div id="map" data-placement="top" class="tippy-box map-address" style="display: none;">
                                    <div class="tippy-content d-flex align-items-center">
                                        <div class="flag">
                                            <img src="assets/images/flag.png" alt="">
                                        </div>
                                        <div class="address-info">
                                            <h6>United States</h6>
                                            <span>102 street 1234 Don</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="marking-point"></div>
                            </div>
                        </div>
                        <div class="map-marking-item">
                            <div class="map-marking-point">
                                <div id="map" data-placement="top" class="tippy-box map-address" style="display: none;">
                                    <div class="tippy-content d-flex align-items-center">
                                        <div class="flag">
                                            <img src="assets/images/flag.png" alt="">
                                        </div>
                                        <div class="address-info">
                                            <h6>United States</h6>
                                            <span>102 street 1234 Don</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="marking-point"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Area -->

</main>

<!-- Footer Area -->
<footer class="footer-area bg-black">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-content">
                <span
                >The Most Trusted Online Course Platform for WordPress.</span
                >
                        <img src="assets/images/logo-3.png" alt="Footer Logo"/>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row justify-content-between">
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-menu">
                                <h4>Features</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-menu">
                                <h4>Company</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-menu">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <ul>
                        <li><img src="assets/images/Logo-2.png" alt="Logo Image"/></li>
                        <li><span>Copyright 2021, All Rights Reserved</span></li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="footer-bottom-menu">
                        <ul>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Legal Notice</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <ul class="social-link-bg">
                        <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <span class="footer-shape"></span>
</footer>
<!-- Footer Area -->

<!--Scroll to top-->
<a href="#" class="scrollToTop">
  <img src="assets/images/scroll.svg" alt="">
</a>

<script src="assets/js/plugin/jquery-3.5.0.min.js"></script>
<script src="assets/js/plugin/wow.min.js"></script>
<script src="assets/js/plugin/jquery.nice-select.min.js"></script>
<script src="assets/js/plugin/popper.min.js"></script>
<script src="assets/js/plugin/bootstrap.min.js"></script>
<script src="assets/js/plugin/tippy-bundle.umd.min.js"></script>
<script src="assets/js/plugin/jquery.fancybox.min.js"></script>
<script src="assets/js/plugin/swiper-bundle.min.js"></script>
<script src="assets/js/plugin/jquery.waypoints.min.js"></script>
<script src="assets/js/plugin/jquery.counterup.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>
