<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Landpagy - Landing Page Template</title>
  <!-- Fontawesome CSS -->
  <link rel="stylesheet" href="assets/css/fontawesome.min.css"/>
  <!-- Animate CSS -->
  <link rel="stylesheet" href="assets/css/animate.min.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
  <!-- SwiperJs CSS -->
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css"/>
  <!-- Fancybox CSS -->
  <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css"/>
  <!-- Main CSS -->
  <link rel="stylesheet" href="assets/css/style.css"/>
  <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css"/>
</head>
<body>
<!-- Header Area -->
<header class="header-area">
    <nav class="navbar navbar-expand-lg menu_one sticky-nav">
        <div class="container-fluid">
            <a class="navbar-brand header_logo" href="index.html">
                <img class="first_logo sticky_logo" src="assets/images/logo.png" alt="logo">
                <img class="white_logo main_logo" src="assets/images/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu_toggle">
                <span class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <span class="hamburger-cross">
                    <span></span>
                    <span></span>
                </span>
            </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav menu ml-auto">
                <li class="nav-item dropdown submenu active">
                    <a href="index.html" class="nav-link dropdown-toggle">Home</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="features.html" class="nav-link dropdown-toggle">Features</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="about.html" class="nav-link dropdown-toggle">About</a>                    
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="pricing.html" class="nav-link dropdown-toggle">Pricing</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="help-center.html" class="nav-link dropdown-toggle">Help Center</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link dropdown-toggle">Contact</a>                            
                </li>
            </ul>            
            </div>
        </div>
    </nav>
</header>
<!-- Header Area -->
<main>
  <!-- Banner Area -->
  <section class="banner-area feature-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-lg-none mb-8">
          <div class="banner-right-image">
            <img src="assets/images/banner/banner.png" alt="Illustrator Image">
          </div>
        </div>
        <div class="col-md-6">
          <div class="section-title-left">
            <h2>Simplify your project management.</h2>
            <p>We're here every step of the way making sure you and your team deliver. We're here every step of the way
              making sure you and your team deliver</p>
            <button type="submit" class="btn btn-red">Book A Demo</button>
          </div>
        </div>
      </div>
      <div class="banner-right-two d-none d-lg-block">
        <img src="assets/images/banner/banner.png" alt="Illustrator Image">
      </div>
    </div>
    <!-- <img class="banner-shape-2" src="assets/images/shape/bg-shape-2.png" alt="Pricing Banner Shape"> -->
  </section>
  <!-- Banner Area -->

  <!-- Features Area Six -->
  <section class="features-area-six section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="feature-image">
            <img src="assets/images/features/feature-6.png" alt="Features Image">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section-title-left">
            <h2 class="font-regular">Create Project Plans Online</h2>
            <p>A at enim quam a etiam. Lacus elementum platea nunc urna nulla molestie rhoncus. Euismod in risus elit
              lacus, laoreet volutpat neque. Lacus feugiat iaculis sit adipiscing tellus. Dis quam faucibus odio duis
              sit integer pellentesque auctor. Nisl eget lacinia suspendisse vitae ornare nec diam nec.</p>
            <p class="mt-8">Fermentum, gravida quis amet sit aliquam sed pharetra. Proin viverra risus, adipiscing
              blandit sagittis
              dictum vel, morbi. Iaculis vitae tellus non viverra vestibulum. </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Features Area Six -->

  <!-- Features Area Seven -->
  <section class="features-area-six features-area-seven section-padding">
    <div class="container">
      <div class="row row-reverse-lg">
        <div class="col-lg-6">
          <div class="feature-image">
            <img src="assets/images/features/feature-6.png" alt="Features Image">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section-title-left">
            <h2>Get Real-Time Dashboards</h2>
            <p>A at enim quam a etiam. Lacus elementum platea nunc urna nulla molestie rhoncus. Euismod in risus elit
              lacus, laoreet volutpat neque. Lacus feugiat iaculis sit adipiscing tellus. Dis quam faucibus odio duis
              sit integer pellentesque auctor. Nisl eget lacinia suspendisse vitae ornare nec diam nec.</p>
            <p class="mt-8">Fermentum, gravida quis amet sit aliquam sed pharetra. Proin viverra risus, adipiscing
              blandit sagittis dictum vel, morbi. Iaculis vitae tellus non viverra vestibulum.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Features Area Seven -->

  <!-- Features Area Eight -->
  <section class="features-area-eight section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="feature-image">
            <img src="assets/images/features/feature-7.png" alt="Features Image">
            <img class="features-object10" src="assets/images/features/features-object-10.svg" alt="Features Image">
            <img class="features-object11" src="assets/images/features/features-object-2.svg" alt="Features Image">
            <img class="features-object12" src="assets/images/features/features-object-3.svg" alt="Features Image">
            <img class="features-object13" src="assets/images/features/features-object-11.svg" alt="Features Image">
            <img class="features-object14" src="assets/images/features/features-object-12.svg" alt="Features Image">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section-title-left">
            <h2 class="mt-n3">PM Tools for Every Team</h2>
            <p>A at enim quam a etiam. Lacus elementum platea nunc urna nulla molestie rhoncus. Euismod in risus elit
              lacus, laoreet volutpat neque. Lacus feugiat iaculis sit adipiscing tellus. Dis quam</p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="features-service">
                <div class="features-icon">
                  <img src="assets/images/icon/icon-4.svg" alt="Icon">
                  <span>Design</span>
                </div>
                <p>We're here every step of the way making sure you and your team deliver</p>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="features-service">
                <div class="features-icon">
                  <img src="assets/images/icon/icon-5.svg" alt="Icon">
                  <span>Development</span>
                </div>
                <p>We're here every step of the way making sure you and your team deliver</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Features Area Eight -->

  <!-- CTA Area -->
    <section class="cta-area section-padding-xl bg-red-150 wow animate__animated animate__fadeInUp animate__fast">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center pb-8">
                        <h2 class="mt-n3">Get free for 14 Days</h2>
                        <p>
                            Aenean amet netus aliquam elit eu, sagittis id natoque id.
                            Purus augue fermentum dui aliquam dui vel.
                        </p>
                    </div>
                    <form class="form-group mx-auto mt-0">
                        <input type="email" placeholder="Enter your email to book demo" />
                        <button type="submit" class="btn btn-red">Book A Demo</button>
                    </form>
                </div>
            </div>
        </div>
        <span class="shape7"></span>
        <img class="shape8 d-none d-lg-block" src="assets/images/shape/shape-8.svg" alt="Shape">
    </section>
  <!-- CTA Area -->
</main>

<!-- Footer Area -->
<footer class="footer-area bg-black">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="footer-content">
                <span
                >The Most Trusted Online Course Platform for WordPress.</span
                >
            <img src="assets/images/logo-3.png" alt="Footer Logo"/>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row justify-content-between">
            <div class="col-sm-6 col-md-4">
              <div class="footer-menu">
                <h4>Features</h4>
                <ul>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Social media</a></li>
                  <li><a href="#">Develop</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Social media</a></li>
                  <li><a href="#">Develop</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="footer-menu">
                <h4>Company</h4>
                <ul>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Social media</a></li>
                  <li><a href="#">Develop</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Social media</a></li>
                  <li><a href="#">Develop</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="footer-menu">
                <h4>Support</h4>
                <ul>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Social media</a></li>
                  <li><a href="#">Develop</a></li>
                  <li><a href="#">Design</a></li>
                  <li><a href="#">Social media</a></li>
                  <li><a href="#">Develop</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-bottom">
      <div class="row align-items-center">
        <div class="col-lg-5">
          <ul>
            <li><img src="assets/images/Logo-2.png" alt="Logo Image"/></li>
            <li><span>Copyright 2021, All Rights Reserved</span></li>
          </ul>
        </div>
        <div class="col-lg-5">
          <div class="footer-bottom-menu">
            <ul>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Legal Notice</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2">
          <ul class="social-link-bg">
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <span class="footer-shape"></span>
</footer>
<!-- Footer Area -->

<!--Scroll to top-->
<a href="#" class="scrollToTop">
  <img src="assets/images/scroll.svg" alt="">
</a>

<script src="assets/js/plugin/jquery-3.5.0.min.js"></script>
<script src="assets/js/plugin/wow.min.js"></script>
<script src="assets/js/plugin/jquery.nice-select.min.js"></script>
<script src="assets/js/plugin/popper.min.js"></script>
<script src="assets/js/plugin/bootstrap.min.js"></script>
<script src="assets/js/plugin/jquery.fancybox.min.js"></script>
<script src="assets/js/plugin/swiper-bundle.min.js"></script>
<script src="assets/js/plugin/jquery.waypoints.min.js"></script>
<script src="assets/js/plugin/jquery.counterup.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>
