<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Landpagy - Landing Page Template</title>
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css"/>
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <!-- SwiperJs CSS -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css"/>
    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css"/>
    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css"/>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css"/>
</head>
<body>
<!-- Header Area -->
<header class="header-area">
    <nav class="navbar navbar-expand-lg menu_one sticky-nav">
        <div class="container-fluid">
            <a class="navbar-brand header_logo" href="index.html">
                <img class="first_logo sticky_logo" src="assets/images/logo.png" alt="logo">
                <img class="white_logo main_logo" src="assets/images/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu_toggle">
                <span class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <span class="hamburger-cross">
                    <span></span>
                    <span></span>
                </span>
            </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav menu ml-auto">
                <li class="nav-item dropdown submenu active">
                    <a href="index.html" class="nav-link dropdown-toggle">Home</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="features.html" class="nav-link dropdown-toggle">Features</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="about.html" class="nav-link dropdown-toggle">About</a>                    
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="pricing.html" class="nav-link dropdown-toggle">Pricing</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="help-center.html" class="nav-link dropdown-toggle">Help Center</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link dropdown-toggle">Contact</a>                            
                </li>
            </ul>            
            </div>
        </div>
    </nav>
</header>
<!-- Header Area -->
<main>
    <!-- Banner Area -->
    <section class="banner-area help-page-banner">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="banner-left">
                        <h1>How can we help you?</h1>
                        <form class="form-group">
                            <input type="email" placeholder="Enter your email to book demo">
                            <button type="submit" class="btn btn-red"><i class="fas fa-search"></i></button>
                        </form>
                        <ul class="popular-article">
                            <li class="mr-1">Popular help articles: </li>
                            <li><a href="#">Create Lands,</a></li>
                            <li><a href="#">Understand tasks,</a></li>
                            <li><a href="#">Troubleshoot error codes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <img class="help-center-shape" src="assets/images/shape/help-center-shape.png" alt="">
        <img class="help-center-shape2" src="assets/images/shape/help-center-shape2.png" alt="">
        <img class="help-center-shape3" src="assets/images/shape/help-center-shape3.png" alt="">
        <img class="help-center-shape4" src="assets/images/shape/help-center-shape4.png" alt="">
        <img class="shape16 animate__animated wow animate__fadeInTopLeft animate__slow" src="assets/images/shape/shape16.svg" alt="">
    </section>
    <!-- Banner Area -->

    <!-- Secondary Menu Area -->
    <section class="secondary-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="secondary-menu">
                        <li class="dropdown">
                            <a href="#">Create Lands <i class="fas fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Basics of creating a Land
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Customize your Lands
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Format data in Lands
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Use code and webhooks in Lands
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Other built-in Zap functions
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Recently updated
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Manage Lands <i class="fas fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Basics of creating a Land
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Customize your Lands
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Format data in Lands
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Use code and webhooks in Lands
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Other built-in Zap functions
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Recently updated
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Troubleshoot <i class="fas fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Basics of creating a Land
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Customize your Lands
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Format data in Lands
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Use code and webhooks in Lands
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Other built-in Zap functions
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Recently updated
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#">Account & Billing <i class="fas fa-angle-down"></i></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Basics of creating a Land
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Customize your Lands
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Format data in Lands
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Use code and webhooks in Lands
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Other built-in Zap functions
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <img class="before-icon" src="assets/images/icon/menu.svg" alt="icon">
                                        <img class="after-icon" src="assets/images/icon/hover-menu.svg" alt="icon">
                                        Recently updated
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Secondary Menu Area -->

    <!-- Block Area -->
    <section class="block-area section-padding-xl">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-9">
                    <div class="block-heading">
                        <div class="block-icon">
                            <img src="assets/images/shape/shape-5.svg" alt="Shape">
                        </div>
                        <div class="block-title">
                            <h2>Getting Started</h2>
                            <span>Everything you need to get up and running on Landpagy.</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="block-thum">
                        <img src="assets/images/thumb.png" alt="Thumb">
                        <a href="https://youtu.be/WdS4Z5Kfjgw" class="play-buttons" data-fancybox>
                            <img src="assets/images/play-button.png" alt="Play Button">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="block-item-wrapper">
                        <div class="block-article">
                            <div class="block-icon">
                                <img src="assets/images/shape/shape17.svg" alt="Image">
                            </div>
                            <div class="block-text">
                                <h4><a href="#">How to getting started with Landpagy</a></h4>
                                <div class="meta-teg">
                                    <span>product guide</span>
                                </div>
                            </div>
                        </div>
                        <div class="block-article">
                            <div class="block-icon">
                                <img src="assets/images/shape/shape17.svg" alt="Image">
                            </div>
                            <div class="block-text">
                                <h4><a href="#">How to use code and webhooks?</a></h4>
                                <div class="meta-teg">
                                    <span>Help doc</span>
                                    <span><a href="#">Create Lands</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="block-article">
                            <div class="block-icon">
                                <img src="assets/images/shape/shape17.svg" alt="Image">
                            </div>
                            <div class="block-text">
                                <h4><a href="#">How do you Understand tasks at the same time?</a></h4>
                                <div class="meta-teg">
                                    <span>Help doc</span>
                                    <span><a href="#">Manage Lands</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="block-article">
                            <div class="block-icon">
                                <img src="assets/images/shape/shape17.svg" alt="Image">
                            </div>
                            <div class="block-text">
                                <h4><a href="#">How do you identify key concepts in research?</a></h4>
                                <div class="meta-teg">
                                    <span>Help doc</span>
                                    <span><a href="#">Create Lands</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="block-article">
                            <div class="block-icon">
                                <img src="assets/images/shape/shape17.svg" alt="Image">
                            </div>
                            <div class="block-text">
                                <h4><a href="#">What is a lands management system?</a></h4>
                                <div class="meta-teg">
                                    <span>Help doc</span>
                                    <span><a href="#">Manage Lands</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="block-article">
                            <div class="block-icon">
                                <img src="assets/images/shape/shape17.svg" alt="Image">
                            </div>
                            <div class="block-text">
                                <h4><a href="#">How to getting started with Landpagy</a></h4>
                                <div class="meta-teg">
                                    <span>Help doc</span>
                                    <span><a href="#">Account & Billing</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Block Area -->

    <!-- Features Area -->
    <section class="features-area-nine section-padding-xl bg-white-600">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="mt-n4">Featured Articles</h2>
                        <span>Everything you need to get up and running on Landpagy.</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="features-item">
                        <img src="assets/images/shape/shape18.svg" alt="Icon">
                        <h4><a href="#">Update Landpagy to the latest release</a></h4>
                        <hr>
                        <p>Landpagy automatically updates itself by default but you can always do a manual update. Learn how to...</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="features-item">
                        <img src="assets/images/shape/shape18.svg" alt="Icon">
                        <h4><a href="#">Secure connection failed & Landpagy did not connect</a></h4>
                        <hr>
                        <p>Landpagy automatically updates itself by default but you can always do a manual update. Learn how to...</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="features-item">
                        <img src="assets/images/shape/shape18.svg" alt="Icon">
                        <h4><a href="#">Insecure password warning in Landpagy</a></h4>
                        <hr>
                        <p>Landpagy automatically updates itself by default but you can always do a manual update. Learn how to...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Features Area -->

    <!-- Community Area -->
    <div class="community-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="community-wrapper">
                        <div class="community-text">
                            <h3 class="mt-n4">Get help from Landpagy Community</h3>
                            <p>Connect with Landpagy users of all levels to learn, support & inspire one another</p>
                        </div>
                        <div class="community-social">
                            <div class="community-social-item">
                                <a href="#">
                                    <i class="fab fa-facebook-f"></i>
                                    <span>Join 50k+ Landpagy Users on Facebook</span>
                                </a>
                            </div>
                            <div class="community-social-item">
                                <a href="#">
                                    <i class="fab fa-meetup"></i>
                                    <span>Meet & Collaborate With Local Landpagy Users</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Community Area -->

    <!-- FAQs Area -->
    <section class="faq-area help-center-faq wow animate__animated animate__fadeInUp animate__fast">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="mt-n4">Frequently asked questions</h2>
                        <p>
                            Aenean amet netus aliquam elit eu, sagittis id natoque id.
                            Purus augue fermentum dui aliquam dui vel.
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="accordion" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <span>Q1.</span> How can i use ThriveDesk?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Follow these 6 steps and you’ll get your Help Scout account
                                        up and running in no time. If you'd like to get a full tour
                                        of Help Scout and all its features, attend one of our weekly
                                        live demos or take a video tour.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <span>Q2.</span> When should I use a Tag?
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Follow these 6 steps and you’ll get your Help Scout account
                                        up and running in no time. If you'd like to get a full tour
                                        of Help Scout and all its features, attend one of our weekly
                                        live demos or take a video tour.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <span>Q3.</span> How can I make all this less work?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Follow these 6 steps and you’ll get your Help Scout account
                                        up and running in no time. If you'd like to get a full tour
                                        of Help Scout and all its features, attend one of our weekly
                                        live demos or take a video tour.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    <span>Q3.</span> What’s up, Docs?
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-collapseFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Follow these 6 steps and you’ll get your Help Scout account
                                        up and running in no time. If you'd like to get a full tour
                                        of Help Scout and all its features, attend one of our weekly
                                        live demos or take a video tour.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    <span>Q3.</span> What’s up, Docs?
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-collapseFive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Follow these 6 steps and you’ll get your Help Scout account
                                        up and running in no time. If you'd like to get a full tour
                                        of Help Scout and all its features, attend one of our weekly
                                        live demos or take a video tour.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQs Area -->

    <!-- Testimonial Area Four -->
    <section class="testimonial-area-four bg-white-800 section-padding-xl">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="mt-n4">What's Our Client Say About Us</h2>
                        <p>
                            Nemo enim ipsam voluptatem quia voluptas sit
                        </p>
                    </div>
                </div>
            </div>

            <div id="testimonial-3" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide testimonial-wrapper-four">
                        <div class="testimonial-item">
                            <div class="testimonial-image">
                                <img src="assets/images/testimonial/testimonial-image.png" alt="Testimonial Image">
                            </div>
                            <div class="testimonial-right-content">
                                <h3>Making Dreams a reality!</h3>
                                <div class="testimonial-meta-info">
                                    <div class="testimonial-author-name">
                                        <h4>Maxwell Wood</h4>
                                        <span>Development</span>
                                    </div>
                                    <div class="testimonial-author-review">
                                        <ul class="client-review-icon">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>We were looking for a home of happiness and peace. Thanks to the Grihashakti team, who helped us to realise this dream of ours. Our home has been</p>
                                    <div class="testimonial-quote">
                                        <i class="fas fa-quote-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide testimonial-wrapper-four">
                        <div class="testimonial-item">
                            <div class="testimonial-image">
                                <img src="assets/images/testimonial/testimonial-image.png" alt="Testimonial Image">
                            </div>
                            <div class="testimonial-right-content">
                                <h3>Making Dreams a reality!</h3>
                                <div class="testimonial-meta-info">
                                    <div class="testimonial-author-name">
                                        <h4>Maxwell Wood</h4>
                                        <span>Development</span>
                                    </div>
                                    <div class="testimonial-author-review">
                                        <ul class="client-review-icon">
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="testimonial-content">
                                    <p>We were looking for a home of happiness and peace. Thanks to the Grihashakti team, who helped us to realise this dream of ours. Our home has been</p>
                                    <div class="testimonial-quote">
                                        <i class="fas fa-quote-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="swiper-slide testimonial-wrapper-four">
                        <div class="testimonial-item">
                            <div class="testimonial-image">
                            <img src="assets/images/testimonial/testimonial-image.png" alt="Testimonial Image">
                        </div>
                        <div class="testimonial-right-content">
                            <h3>Making Dreams a reality!</h3>
                            <div class="testimonial-meta-info">
                                <div class="testimonial-author-name">
                                    <h4>Maxwell Wood</h4>
                                    <span>Development</span>
                                </div>
                                <div class="testimonial-author-review">
                                    <ul class="client-review-icon">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="testimonial-content">
                                <p>We were looking for a home of happiness and peace. Thanks to the Grihashakti team, who helped us to realise this dream of ours. Our home has been</p>
                                <div class="testimonial-quote">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                        </div>                        
                    </div>
                </div>
                <div class="swiper-button-next d-none d-md-block"></div>
                <div class="swiper-button-prev d-none d-md-block"></div>                
            </div>
        </div>
    </section>
    <!-- Testimonial Area Four -->

    <!-- CTA Area -->
    <section class="cta-area cta-area-two section-padding bg-red-150">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center pb-0">
                        <h2 class="mt-n4 font-bold">Can’t find what you’re looking for?</h2>
                        <button type="submit" class="btn btn-red mt-16">Open a Support Ticket</button>
                    </div>
                </div>
            </div>
        </div>
        <span class="shape9"></span>
        <span class="shape12"></span>
        <img class="shape10 d-none d-lg-block" src="assets/images/shape/shape10.svg" alt="Shape">
        <img class="shape11 d-none d-lg-block" src="assets/images/shape/shape11.svg" alt="Shape">
    </section>
    <!-- CTA Area -->
</main>

<!-- Footer Area -->
<footer class="footer-area bg-black">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-content">
                <span
                >The Most Trusted Online Course Platform for WordPress.</span
                >
                        <img src="assets/images/logo-3.png" alt="Footer Logo"/>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row justify-content-between">
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-menu">
                                <h4>Features</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-menu">
                                <h4>Company</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-menu">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <ul>
                        <li><img src="assets/images/Logo-2.png" alt="Logo Image"/></li>
                        <li><span>Copyright 2021, All Rights Reserved</span></li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="footer-bottom-menu">
                        <ul>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Legal Notice</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <ul class="social-link-bg">
                        <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <span class="footer-shape"></span>
</footer>
<!-- Footer Area -->

<!--Scroll to top-->
<a href="#" class="scrollToTop">
  <img src="assets/images/scroll.svg" alt="">
</a>

<script src="assets/js/plugin/jquery-3.5.0.min.js"></script>
<script src="assets/js/plugin/wow.min.js"></script>
<script src="assets/js/plugin/jquery.nice-select.min.js"></script>
<script src="assets/js/plugin/popper.min.js"></script>
<script src="assets/js/plugin/bootstrap.min.js"></script>
<script src="assets/js/plugin/jquery.fancybox.min.js"></script>
<script src="assets/js/plugin/swiper-bundle.min.js"></script>
<script src="assets/js/plugin/jquery.waypoints.min.js"></script>
<script src="assets/js/plugin/jquery.counterup.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>
