<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Landpagy - Landing Page Template</title>
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/css/fontawesome.min.css"/>
    <!-- Animate CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"/>
    <!-- SwiperJs CSS -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css"/>
    <!-- Fancybox CSS -->
    <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css"/>
    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css"/>
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css"/>
</head>
<body>
<!-- Header Area -->
<header class="header-area">
    <nav class="navbar navbar-expand-lg menu_one sticky-nav">
        <div class="container-fluid">
            <a class="navbar-brand header_logo" href="index.html">
                <img class="first_logo sticky_logo" src="assets/images/logo.png" alt="logo">
                <img class="white_logo main_logo" src="assets/images/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="menu_toggle">
                <span class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <span class="hamburger-cross">
                    <span></span>
                    <span></span>
                </span>
            </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav menu ml-auto">
                <li class="nav-item dropdown submenu active">
                    <a href="index.html" class="nav-link dropdown-toggle">Home</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="features.html" class="nav-link dropdown-toggle">Features</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="about.html" class="nav-link dropdown-toggle">About</a>                    
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="pricing.html" class="nav-link dropdown-toggle">Pricing</a>
                </li>
                <li class="nav-item dropdown submenu">
                    <a href="help-center.html" class="nav-link dropdown-toggle">Help Center</a>
                </li>
                <li class="nav-item">
                    <a href="contact.html" class="nav-link dropdown-toggle">Contact</a>                            
                </li>
            </ul>            
            </div>
        </div>
    </nav>
</header>
<!-- Header Area -->
<main>
    <!-- Banner Area -->
    <section class="banner-area pricing-banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h1><span>Mega</span> Sale</h1>
                        <h2>Up to <span>50%</span> Off</h2>
                    </div>
                </div>
            </div>
        </div>
        <span class="banner-shapes wow animate__animated animate__fadeInDown"></span>
        <img class="pricing-shape-4 wow animate__animated animate__fadeInRight" src="assets/images/shape/banner-shape6.svg" alt="Shape Image">
        <img class="pricing-shape-3" src="assets/images/shape/shape-3.svg" alt="Pricing Banner Shape">
        <img class="pricing-shape-5" src="assets/images/features/features-object-8.svg" alt="Pricing Banner Shape">
        <img class="pricing-shape-12" src="assets/images/features/features-object-9.svg" alt="Pricing Banner Shape">
        <img class="pricing-shape-6" src="assets/images/shape/pricing-shape2.svg" alt="Pricing Banner Shape">
        <img class="pricing-shape-7" src="assets/images/features/features-object-6.svg" alt="Pricing Banner Shape">
        <img class="pricing-shape-8" src="assets/images/shape/pricing-shape4.svg" alt="Pricing Banner Shape">
        <img class="pricing-shape-9 animate__animated wow animate__fadeInTopRight animate__slow" src="assets/images/shape/pricing-shape5.svg" alt="Pricing Banner Shape">
        <img class="pricing-shape-10" src="assets/images/shape/pricing-shape6.svg" alt="Pricing Banner Shape">
        <img class="pricing-shape-11" src="assets/images/shape/pricing-shape7.svg" alt="Pricing Banner Shape">
        <!-- <img class="banner-shape-2" src="assets/images/shape/bg-shape-2.png" alt="Pricing Banner Shape"> -->
    </section>
    <!-- Banner Area -->

    <!-- Pricing Area -->
    <section class="pricing-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="mt-n3">Choose the plan that's right for your team</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <ul class="nav nav-tabs pricing-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Monthly</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Quaterly</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Yearly</button>
                        </li>
                    </ul>
                </div>
                <div class="col-4">
                    <select class="pricing-currency">
                        <option data-display="USD">USD</option>
                        <option value="1">EURO</option>
                    </select>
                </div>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-sm-6 col-xl-3">
                            <div class="pricing-item">
                                <h3 class="pricing-title">Free</h3>
                                <div class="price"><span>Alwase  Free</span></div>
                                <span class="pricing-item-user">1 user</span>
                                <a href="#" class="pricing-btn">Continue</a>
                                <ul>
                                    <li class="text-black">Time tracking</li>
                                    <li class="text-black">Activity levels</li>
                                    <li class="text-black">Unlimited screenshots</li>
                                    <li class="text-black">Payments</li>
                                    <li class="text-gray-100">Unlimited integrations</li>
                                    <li class="text-gray-100">24 hour support</li>
                                    <li class="text-gray-100">Per user settings</li>
                                    <li class="text-gray-100">Track apps & URLs</li>
                                    <li class="text-gray-100">Mobile GPS tracking=</li>
                                </ul>
                                <a href="#" class="pricing-btn">Continue</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="pricing-item">
                                <div class="badge">20%off</div>
                                <h3 class="pricing-title">Starter</h3>
                                <div class="price"><span>$5</span><sup> /user/mo</sup></div>
                                <span class="pricing-item-user">Starts at $8 Includes 2 users</span>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                                <ul>
                                    <li class="text-black">Time tracking</li>
                                    <li class="text-black">Activity levels</li>
                                    <li class="text-black">Unlimited screenshots</li>
                                    <li class="text-black">Payments</li>
                                    <li class="text-gray-100">Unlimited integrations</li>
                                    <li class="text-gray-100">24 hour support</li>
                                    <li class="text-gray-100">Per user settings</li>
                                    <li class="text-gray-100">Track apps & URLs</li>
                                    <li class="text-gray-100">Mobile GPS tracking=</li>
                                </ul>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="pricing-item active">
                                <div class="badge">35%off</div>
                                <h3 class="pricing-title">Premium</h3>
                                <div class="price"><span>$8</span><sup> /user/mo</sup></div>
                                <span class="pricing-item-user">Starts at $10.4 Includes 2 users</span>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                                <ul>
                                    <li class="text-black">Time tracking</li>
                                    <li class="text-black">Activity levels</li>
                                    <li class="text-black">Unlimited screenshots</li>
                                    <li class="text-black">Payments</li>
                                    <li class="text-black">Unlimited integrations</li>
                                    <li class="text-black">24 hour support</li>
                                    <li class="text-black">Per user settings</li>
                                    <li class="text-black">Track apps & URLs</li>
                                    <li class="text-gray-100">Mobile GPS tracking=</li>
                                </ul>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="pricing-item bg-yellow-200">
                                <div class="badge">50%off</div>
                                <h3 class="pricing-title">Enterprise</h3>
                                <div class="price"><span>$16</span><sup> /user/mo</sup></div>
                                <span class="pricing-item-user">Starts at $16 Includes 2 users</span>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                                <ul>
                                    <li class="text-black">Time tracking</li>
                                    <li class="text-black">Activity levels</li>
                                    <li class="text-black">Unlimited screenshots</li>
                                    <li class="text-black">Payments</li>
                                    <li class="text-black">Unlimited integrations</li>
                                    <li class="text-black">24 hour support</li>
                                    <li class="text-black">Per user settings</li>
                                    <li class="text-black">Track apps & URLs</li>
                                    <li class="text-black">Mobile GPS tracking=</li>
                                </ul>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                            </div>
                        </div>
                    </div>
                    <img src="assets/images/most.png" alt="" class="popular d-none d-lg-block">
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="pricing-item">
                                <h3 class="pricing-title">Free</h3>
                                <div class="price"><span>Alwase  Free</span></div>
                                <span class="pricing-item-user">1 user</span>
                                <a href="#" class="pricing-btn">Continue</a>
                                <ul>
                                    <li class="text-black">Time tracking</li>
                                    <li class="text-black">Activity levels</li>
                                    <li class="text-black">Unlimited screenshots</li>
                                    <li class="text-black">Payments</li>
                                    <li class="text-gray-100">Unlimited integrations</li>
                                    <li class="text-gray-100">24 hour support</li>
                                    <li class="text-gray-100">Per user settings</li>
                                    <li class="text-gray-100">Track apps & URLs</li>
                                    <li class="text-gray-100">Mobile GPS tracking=</li>
                                </ul>
                                <a href="#" class="pricing-btn">Continue</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="pricing-item">
                                <div class="badge">20%off</div>
                                <h3 class="pricing-title">Starter</h3>
                                <div class="price"><span>$7</span><sup> /user/mo</sup></div>
                                <span class="pricing-item-user">Starts at $8 Includes 2 users</span>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                                <ul>
                                    <li class="text-black">Time tracking</li>
                                    <li class="text-black">Activity levels</li>
                                    <li class="text-black">Unlimited screenshots</li>
                                    <li class="text-black">Payments</li>
                                    <li class="text-gray-100">Unlimited integrations</li>
                                    <li class="text-gray-100">24 hour support</li>
                                    <li class="text-gray-100">Per user settings</li>
                                    <li class="text-gray-100">Track apps & URLs</li>
                                    <li class="text-gray-100">Mobile GPS tracking=</li>
                                </ul>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="pricing-item active">
                                <div class="badge">35%off</div>
                                <h3 class="pricing-title">Premium</h3>
                                <div class="price"><span>$10</span><sup> /user/mo</sup></div>
                                <span class="pricing-item-user">Starts at $10.4 Includes 2 users</span>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                                <ul>
                                    <li class="text-black">Time tracking</li>
                                    <li class="text-black">Activity levels</li>
                                    <li class="text-black">Unlimited screenshots</li>
                                    <li class="text-black">Payments</li>
                                    <li class="text-black">Unlimited integrations</li>
                                    <li class="text-black">24 hour support</li>
                                    <li class="text-black">Per user settings</li>
                                    <li class="text-black">Track apps & URLs</li>
                                    <li class="text-gray-100">Mobile GPS tracking=</li>
                                </ul>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="pricing-item bg-yellow-200">
                                <div class="badge">50%off</div>
                                <h3 class="pricing-title">Enterprise</h3>
                                <div class="price"><span>$12</span><sup> /user/mo</sup></div>
                                <span class="pricing-item-user">Starts at $16 Includes 2 users</span>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                                <ul>
                                    <li class="text-black">Time tracking</li>
                                    <li class="text-black">Activity levels</li>
                                    <li class="text-black">Unlimited screenshots</li>
                                    <li class="text-black">Payments</li>
                                    <li class="text-black">Unlimited integrations</li>
                                    <li class="text-black">24 hour support</li>
                                    <li class="text-black">Per user settings</li>
                                    <li class="text-black">Track apps & URLs</li>
                                    <li class="text-black">Mobile GPS tracking=</li>
                                </ul>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="pricing-item">
                                <h3 class="pricing-title">Free</h3>
                                <div class="price"><span>Alwase  Free</span></div>
                                <span class="pricing-item-user">1 user</span>
                                <a href="#" class="pricing-btn">Continue</a>
                                <ul>
                                    <li class="text-black">Time tracking</li>
                                    <li class="text-black">Activity levels</li>
                                    <li class="text-black">Unlimited screenshots</li>
                                    <li class="text-black">Payments</li>
                                    <li class="text-gray-100">Unlimited integrations</li>
                                    <li class="text-gray-100">24 hour support</li>
                                    <li class="text-gray-100">Per user settings</li>
                                    <li class="text-gray-100">Track apps & URLs</li>
                                    <li class="text-gray-100">Mobile GPS tracking=</li>
                                </ul>
                                <a href="#" class="pricing-btn">Continue</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="pricing-item">
                                <div class="badge">20%off</div>
                                <h3 class="pricing-title">Starter</h3>
                                <div class="price"><span>$10</span><sup> /user/mo</sup></div>
                                <span class="pricing-item-user">Starts at $8 Includes 2 users</span>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                                <ul>
                                    <li class="text-black">Time tracking</li>
                                    <li class="text-black">Activity levels</li>
                                    <li class="text-black">Unlimited screenshots</li>
                                    <li class="text-black">Payments</li>
                                    <li class="text-gray-100">Unlimited integrations</li>
                                    <li class="text-gray-100">24 hour support</li>
                                    <li class="text-gray-100">Per user settings</li>
                                    <li class="text-gray-100">Track apps & URLs</li>
                                    <li class="text-gray-100">Mobile GPS tracking=</li>
                                </ul>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="pricing-item active">
                                <div class="badge">35%off</div>
                                <h3 class="pricing-title">Premium</h3>
                                <div class="price"><span>$20</span><sup> /user/mo</sup></div>
                                <span class="pricing-item-user">Starts at $10.4 Includes 2 users</span>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                                <ul>
                                    <li class="text-black">Time tracking</li>
                                    <li class="text-black">Activity levels</li>
                                    <li class="text-black">Unlimited screenshots</li>
                                    <li class="text-black">Payments</li>
                                    <li class="text-black">Unlimited integrations</li>
                                    <li class="text-black">24 hour support</li>
                                    <li class="text-black">Per user settings</li>
                                    <li class="text-black">Track apps & URLs</li>
                                    <li class="text-gray-100">Mobile GPS tracking=</li>
                                </ul>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <div class="pricing-item bg-yellow-200">
                                <div class="badge">50%off</div>
                                <h3 class="pricing-title">Enterprise</h3>
                                <div class="price"><span>$25</span><sup> /user/mo</sup></div>
                                <span class="pricing-item-user">Starts at $16 Includes 2 users</span>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                                <ul>
                                    <li class="text-black">Time tracking</li>
                                    <li class="text-black">Activity levels</li>
                                    <li class="text-black">Unlimited screenshots</li>
                                    <li class="text-black">Payments</li>
                                    <li class="text-black">Unlimited integrations</li>
                                    <li class="text-black">24 hour support</li>
                                    <li class="text-black">Per user settings</li>
                                    <li class="text-black">Track apps & URLs</li>
                                    <li class="text-black">Mobile GPS tracking=</li>
                                </ul>
                                <a href="#" class="pricing-btn">Start Free Trial</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="tex text-center">
                    <span>( *Prices exclude VAT/Taxes. Discounts applicable for the first year only. )</span>
                </div>
            </div>
        </div>
    </section>
    <!-- Pricing Area -->

    <!-- FAQs Area -->
    <section class="faq-area pricing-faq wow animate__animated animate__fadeInUp animate__fast">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center">
                        <h2 class="font-bold mt-n3">Frequently asked questions</h2>
                        <p>
                            Aenean amet netus aliquam elit eu, sagittis id natoque id.
                            Purus augue fermentum dui aliquam dui vel.
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="accordion" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    <span>Q1.</span> How can i use ThriveDesk?
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Follow these 6 steps and you’ll get your Help Scout account
                                        up and running in no time. If you'd like to get a full tour
                                        of Help Scout and all its features, attend one of our weekly
                                        live demos or take a video tour.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                    <span>Q2.</span> When should I use a Tag?
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Follow these 6 steps and you’ll get your Help Scout account
                                        up and running in no time. If you'd like to get a full tour
                                        of Help Scout and all its features, attend one of our weekly
                                        live demos or take a video tour.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                    <span>Q3.</span> How can I make all this less work?
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Follow these 6 steps and you’ll get your Help Scout account
                                        up and running in no time. If you'd like to get a full tour
                                        of Help Scout and all its features, attend one of our weekly
                                        live demos or take a video tour.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                    <span>Q3.</span> What’s up, Docs?
                                </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-collapseFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Follow these 6 steps and you’ll get your Help Scout account
                                        up and running in no time. If you'd like to get a full tour
                                        of Help Scout and all its features, attend one of our weekly
                                        live demos or take a video tour.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                    <span>Q3.</span> What’s up, Docs?
                                </button>
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-collapseFive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    <p>
                                        Follow these 6 steps and you’ll get your Help Scout account
                                        up and running in no time. If you'd like to get a full tour
                                        of Help Scout and all its features, attend one of our weekly
                                        live demos or take a video tour.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQs Area -->

    <!-- CTA Area -->
    <section class="cta-area section-padding-xl bg-red-150 wow animate__animated animate__fadeInUp animate__fast">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-center pb-8">
                        <h2 class="mt-n3">Get free for 14 Days</h2>
                        <p>
                            Aenean amet netus aliquam elit eu, sagittis id natoque id.
                            Purus augue fermentum dui aliquam dui vel.
                        </p>
                    </div>
                    <form class="form-group mx-auto mt-0">
                        <input type="email" placeholder="Enter your email to book demo" />
                        <button type="submit" class="btn btn-red">Book A Demo</button>
                    </form>
                </div>
            </div>
        </div>
        <span class="shape7"></span>
        <img class="shape8 d-none d-lg-block" src="assets/images/shape/shape-8.svg" alt="Shape">
    </section>
    <!-- CTA Area -->
</main>

<!-- Footer Area -->
<footer class="footer-area bg-black">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-content">
                <span
                >The Most Trusted Online Course Platform for WordPress.</span
                >
                        <img src="assets/images/logo-3.png" alt="Footer Logo"/>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row justify-content-between">
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-menu">
                                <h4>Features</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-menu">
                                <h4>Company</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-menu">
                                <h4>Support</h4>
                                <ul>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                    <li><a href="#">Design</a></li>
                                    <li><a href="#">Social media</a></li>
                                    <li><a href="#">Develop</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-bottom">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <ul>
                        <li><img src="assets/images/Logo-2.png" alt="Logo Image"/></li>
                        <li><span>Copyright 2021, All Rights Reserved</span></li>
                    </ul>
                </div>
                <div class="col-lg-5">
                    <div class="footer-bottom-menu">
                        <ul>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Legal Notice</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <ul class="social-link-bg">
                        <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <span class="footer-shape"></span>
</footer>
<!-- Footer Area -->

<!--Scroll to top-->
<a href="#" class="scrollToTop">
  <img src="assets/images/scroll.svg" alt="">
</a>

<script src="assets/js/plugin/jquery-3.5.0.min.js"></script>
<script src="assets/js/plugin/wow.min.js"></script>
<script src="assets/js/plugin/ScrollMagic.js"></script>
<script src="assets/js/plugin/jquery.nice-select.min.js"></script>
<script src="assets/js/plugin/popper.min.js"></script>
<script src="assets/js/plugin/bootstrap.min.js"></script>
<script src="assets/js/plugin/jquery.fancybox.min.js"></script>
<script src="assets/js/plugin/swiper-bundle.min.js"></script>
<script src="assets/js/plugin/jquery.waypoints.min.js"></script>
<script src="assets/js/plugin/jquery.counterup.min.js"></script>
<script src="assets/js/script.js"></script>
</body>
</html>
